# https://editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8

[*.{cpp,fish,fish.tmpl,js,sh,pp,epp}]
insert_final_newline = false
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[home/private_dot_gnupg/private_sshcontrol.tmpl]
# The `sshcontrol` file does not work correctly unless it ends with a newline.
insert_final_newline = true