section: screens
	{{ .synergy.screenName }}:
		halfDuplexCapsLock = false
		halfDuplexNumLock = false
		halfDuplexScrollLock = false
		xtestIsXineramaUnaware = false
		switchCorners = none 
		switchCornerSize = 0
	cathy-alienware:
		halfDuplexCapsLock = false
		halfDuplexNumLock = false
		halfDuplexScrollLock = false
		xtestIsXineramaUnaware = false
		switchCorners = none 
		switchCornerSize = 0
end

section: aliases
end

section: options
	relativeMouseMoves = true
	win32KeepForeground = false
	disableLockToScreen = false
	clipboardSharing = false
	clipboardSharingSize = 3072
	switchCorners = none 
	switchCornerSize = 0
end

section: links
	{{ .synergy.screenName }}:
		left = cathy-alienware
	cathy-alienware:
		right = {{ .synergy.screenName }}
end