# -*- ssh-config -*-
PasswordAuthentication no
KbdInteractiveAuthentication no
AuthenticationMethods publickey
PermitRootLogin no

AllowUsers Cathy@192.168.1.* cathy@192.168.1.*

# See https://wiki.gnupg.org/AgentForwarding
StreamLocalBindUnlink yes