# -*- ssh-config -*-
PasswordAuthentication no
KbdInteractiveAuthentication no
AuthenticationMethods publickey
PermitRootLogin no

{{- if eq .chezmoi.hostname "MacBook-Pro" }}
DenyUsers *
{{- else }}
AllowUsers cathy@{{ template "cathy-mac-ip" }}

# See https://wiki.gnupg.org/AgentForwarding
StreamLocalBindUnlink yes
{{- end }}