#!/bin/bash
# Note: This script is intentionally run with /bin/bash, rather than with the
#       version of bash installed by brew. This is because the version of bash
#       installed by brew can be edited by non-root users and therefore cannot
#       be trusted in this script intended to be run by root.

mount_windows_file_history() {
    if /sbin/mount | /usr/bin/grep "${1}" > /dev/null; then
        echo "Windows File History is already mounted."
        return
    fi

    /bin/mkdir "${1}"
    /usr/sbin/chown WindowsFileHistory:staff "${1}"
    /var/root/unlock-windows-file-history
    /usr/sbin/diskutil mount -mountOptions owners,nodev,noexec,nosuid,rw \
        -mountPoint "${1}" '{{ .windowsFileHistory.magicVolumeID }}'
}

start_pf() {
    # Apply some rules to the macOS application firewall.
    local smbd_path
    smbd_path="$(/usr/bin/readlink -f '{{ template `brew-root` . }}'/sbin/samba-dot-org-smbd)"
    local vhserver=/Applications/VirtualHereServerUniversal.app
    /usr/libexec/ApplicationFirewall/socketfilterfw \
        --setglobalstate on \
        --setallowsigned off --setallowsignedapp off --setstealthmode on \
        --add "${smbd_path}" --unblockapp "${smbd_path}" \
        --add "${vhserver}" --blockapp "${vhserver}"

    /sbin/pfctl -a com.cathyjf -f - << 'CATHYJF_RULES'
# VirtualHere USB Server
# All connections should go over ssh, so block all direct network connectivity.
block return in proto tcp from any to any port 7575 # normal TCP connection
block return out proto tcp from any to any port 7573 # reverse TCP connection

# Also allow VirtualHere USB Server outgoing traffic over the VPN on ppp0.
pass out on ppp0 proto tcp from any to 10.0.0.10 port 7573

# Synergy (Deskflow)
# All connections should go over ssh, so block all direct network connectivity.
block return in proto tcp from any to any port {{ .synergy.serverPort }}
pass in inet proto tcp from 127.0.0.1 to 127.0.0.1 port {{ .synergy.serverPort }}

# Samba
block return in proto tcp from any to any port 445
pass in inet proto tcp from 127.0.0.1 to 127.0.0.1 port 445
pass in inet proto tcp from { \
    cathy-alienware, cathy-mac, cathy-macbookair, cathy-macbookair-wifi \
} to cathy-mac port 445
CATHYJF_RULES

    local pf_conf=/var/root/pf.conf
    /bin/cat /etc/pf.conf - > "${pf_conf}" <<< 'anchor "com.cathyjf"'
    echo "Starting (or restarting) pf..."
    /sbin/pfctl -E -f "${pf_conf}"
}

mount_windows_file_history "/Volumes/Windows File History" &
start_pf &
wait